<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Bootstrap Alerts</strong>
          <div class="card-header-actions">
            <a href="https://valor-software.com/ngx-bootstrap/#/alerts" target="_blank">
              <small className="text-muted">docs</small>
            </a>
          </div>
        </div>
        <div class="card-body">
          <alert type="success">
            <strong>Well done!</strong> You successfully read this important alert message.
          </alert>
          <alert type="info">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
          </alert>
          <alert type="warning">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
          </alert>
          <alert type="danger">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </alert>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong>
          <small>link</small>
        </div>
        <div class="card-body">
          <alert type="success">
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
          </alert>
          <alert type="info">
            <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
          </alert>
          <alert type="warning">
            <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
          </alert>
          <alert type="danger">
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
          </alert>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>additional content</small>
        </div>
        <div class="card-body">
          <alert type="success">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
            <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
          </alert>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>dismissing</small>
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alerts">
            <alert [type]="alert.type" [dismissible]="dismissible">{{ alert.msg }}</alert>
          </div>
          <button type="button" class="btn btn-primary" (click)="dismissible = !dismissible">Toggle dismissible</button>
          <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>dynamic html</small>
        </div>
        <div class="card-body">
          <div *ngFor="let alert of alertsHtml">
            <alert [type]="alert.type"><span [innerHtml]="alert.msg"></span></alert>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>dynamic content</small>
        </div>
        <div class="card-body">
          <alert type="success">{{messages[index]}}</alert>

          <div *ngIf="index !== messages.length -1; else elseBlock">
            <button class="btn btn-primary" (click)="changeText()">Change text</button>
          </div>
          <ng-template #elseBlock>
            <button class="btn btn-primary" (click)="index = 0">Reset</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>dismiss on timeout</small>
        </div>
        <div class="card-body">
          <alert type="success" dismissOnTimeout="5000">
            <strong>Well done!</strong> You successfully read this important alert message.
          </alert>

          <p>If you missed alert on top of me, just press <code>Add more</code> button</p>
          <div *ngFor="let alert of alertsDismiss">
            <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
          </div>
          <button type="button" class="btn btn-primary" (click)="add()">Add more</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>global styling</small>
        </div>
        <div class="card-body">
          <style>
            .alert-md-color {
              background-color: #7B1FA2;
              border-color: #4A148C;
              color: #fff;
            }
          </style>
          <alert type="md-color">
            <strong>Well done!</strong> You successfully read this important alert message.
          </alert>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>component level styling</small>
        </div>
        <div class="card-body">
          <alert type="md-local">
            <strong>Well done!</strong> You successfully read this important alert message.
          </alert>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <strong>Alerts</strong> <small>configuring defaults</small>
        </div>
        <div class="card-body">
          <alert>
            <strong>Well done!</strong> You successfully read this important alert message.
          </alert>
          <alert type="info">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
          </alert>

        </div>
      </div>
    </div>
  </div>
</div>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus iusto vero est quae enim, fuga expedita! Voluptates quas voluptate corrupti, mollitia beatae libero quidem autem provident, voluptas alias similique deleniti atque ipsam, eveniet id cupiditate velit! Ad, animi sit dolorem rerum minima fugiat cumque ea et distinctio. Deleniti perspiciatis dolorem corrupti provident quam nam blanditiis soluta reiciendis quaerat maiores illum hic qui quibusdam accusamus, voluptates laborum magni, quo consequuntur quia, voluptas amet culpa dignissimos cupiditate! Sint laborum nam quos provident blanditiis? Repudiandae doloribus harum aspernatur rerum facilis possimus totam, incidunt quasi a mollitia est, fuga nobis quia dolores voluptatum voluptate maxime corrupti. Accusantium beatae molestiae saepe debitis amet enim possimus ut officiis magnam ipsam, maiores sint vel error vero unde, fugiat fugit numquam voluptatem eaque est necessitatibus? Explicabo placeat sunt neque dolores ad minima minus ullam dolor! Provident harum commodi nesciunt ipsa, facere animi sed soluta delectus quasi eius praesentium recusandae aliquam. Rem quis sit nemo esse optio eius debitis voluptatem hic veniam, quisquam, voluptatum quasi, quos quod incidunt! Minima odit animi exercitationem iusto impedit quasi aut quam enim. Ut, quaerat. Doloremque soluta architecto eum non quis dolores assumenda labore quisquam minima placeat possimus, blanditiis voluptate, optio sunt inventore in ducimus? Assumenda mollitia atque tempora facilis temporibus, aspernatur nemo illum cupiditate dolorem maiores ipsum saepe quos corporis omnis quod suscipit! A sunt nulla fugit recusandae magni suscipit soluta optio in cupiditate debitis! Animi numquam consectetur sed obcaecati, voluptatum laborum quasi tempore quisquam cumque quam aspernatur, suscipit molestiae qui iure dignissimos doloribus, voluptatibus architecto! Aliquid debitis, ea reiciendis deleniti unde sapiente! Labore, id consequuntur ducimus recusandae facilis illum, doloremque rem ex vero repellat consectetur! Sunt harum vitae perferendis nostrum commodi deserunt ad, aliquam culpa id est earum veritatis adipisci deleniti quia quas sequi reprehenderit dolorum ullam quidem dolores, pariatur tempora itaque. Aut ut ex dignissimos sapiente autem necessitatibus, hic sequi. Sint quis alias quod aperiam, adipisci aliquam dolores cumque quaerat, nisi eos nam atque vero commodi praesentium sapiente soluta, distinctio voluptatem nostrum ullam illo? Quam aut ratione quia? Itaque voluptas mollitia facere? Fugit, nam, quis laudantium id iusto dolore quia laboriosam a tempora magni quae harum hic modi, cupiditate dolores dolorum vel? Quaerat fuga cupiditate quasi, ut facilis quis. Officia repudiandae vel provident saepe eos quam fugiat magnam accusantium nobis, tempore velit impedit dolor id voluptate architecto, beatae atque enim quibusdam nihil aliquam ea? Perferendis ut iste pariatur earum autem nostrum quaerat et, provident enim officia incidunt maiores fugiat laborum alias neque nobis saepe nesciunt eius repudiandae. Veniam iusto harum adipisci sequi iste? Eos odit est sint veritatis repellat voluptatem, aliquam reiciendis. Fuga necessitatibus doloribus, quisquam nisi tenetur illo culpa et veritatis dolorum dolores. Iste dolorem quam illo ab at doloribus dolores delectus id totam repellendus! Perspiciatis deserunt rem voluptatem dolore. Molestiae fugiat minima reiciendis atque cumque adipisci aspernatur nisi vero corporis maiores praesentium, non voluptates minus? Ratione doloribus tenetur quidem praesentium reprehenderit veritatis voluptatibus perspiciatis quo? Nisi voluptate et veritatis consequatur eius officiis veniam quod consectetur error. Unde eius illo quasi quos omnis vel voluptates magni illum error, quo libero id ullam alias vero, laboriosam animi quis voluptatum beatae officia itaque fugit fuga maiores sit! Eligendi distinctio delectus impedit fugit dolore facere dolor ratione. Alias ab, voluptates numquam aut eos inventore quidem omnis asperiores neque qui, beatae fuga consequuntur quia ratione odit id vitae in fugiat voluptas labore minus nulla cupiditate debitis commodi! Officia quod iure aliquam ab saepe aspernatur ea, commodi quas modi et natus nisi minima vitae, voluptatum aut dolore deleniti adipisci? Rerum molestiae quae esse ipsam illum assumenda omnis temporibus ea! Mollitia, exercitationem! Sunt voluptatibus deserunt provident pariatur facere corporis quae possimus repellat omnis culpa iusto deleniti explicabo aut corrupti praesentium voluptate est, architecto ipsum unde dicta nam amet asperiores. Vel culpa saepe aperiam quisquam, at tempora. Dignissimos quaerat, quam tempora vel modi dolore! Tenetur nemo unde similique reiciendis animi accusantium eaque repellendus provident repellat! Fugiat, aspernatur excepturi laudantium dicta maiores sequi, porro praesentium nobis illum velit vitae quisquam cum vel voluptate id corporis! Perspiciatis et magni a architecto, hic id nam corporis iure dolore labore neque ea excepturi doloremque? Voluptate culpa vitae consequatur facilis nobis sit sint earum aspernatur cupiditate hic similique doloremque dicta, vel est iure, unde voluptatibus delectus eligendi ratione nemo totam nisi asperiores facere odio. At facilis ab ipsam consectetur corporis aspernatur optio. Labore nemo vero laudantium repellat, perferendis odio nam quaerat enim quis quas provident eum officiis ullam blanditiis. Harum culpa esse dolorem ullam sed deleniti, veniam temporibus enim cum praesentium eos itaque dolore qui blanditiis delectus, asperiores, voluptate facilis voluptatibus. Rem animi modi, earum error illo optio vero voluptates iusto ad, velit, obcaecati maiores non repudiandae sapiente magni ipsum dignissimos sint cum! Iure aliquid quidem repudiandae ratione a totam optio facilis, ullam hic ab. Voluptatum dicta aspernatur vel, ratione tenetur, corporis neque iste fugit aperiam distinctio, iure illo. Quibusdam molestiae vitae rerum provident quis dicta fuga incidunt laboriosam, officia rem atque laborum quod praesentium magni cum asperiores. Recusandae sequi dolorem cumque quasi maiores, unde laboriosam quia nobis ea architecto voluptate quibusdam. Suscipit voluptate laudantium nostrum tenetur eius inventore recusandae obcaecati quod autem repellendus quo non, blanditiis praesentium officiis itaque, necessitatibus delectus sed quaerat at mollitia laborum! Suscipit ipsa commodi optio aliquid iusto labore repellat, saepe iure et quasi molestias a! Vitae esse id provident nisi molestiae deleniti adipisci, a laboriosam, aut eos cupiditate tempore nihil quae obcaecati illo veniam quod minus aliquam voluptatem neque nostrum laudantium sequi voluptates nobis? Id dicta exercitationem minima iure soluta, ipsam quo fugit incidunt nesciunt sed ad, optio omnis sint nam corrupti corporis a earum quam! Quod explicabo atque reprehenderit libero assumenda quibusdam obcaecati accusantium corrupti nobis soluta consectetur hic quas architecto, tenetur reiciendis tempore. Beatae iusto neque alias cumque. Laboriosam maxime dolorem itaque earum minus ipsam impedit unde quod optio qui alias sed ratione nulla corporis neque atque in aspernatur voluptate perferendis, perspiciatis deserunt ullam. Aut adipisci aperiam animi quisquam. Ea debitis, ducimus voluptatem quia, reiciendis possimus nemo totam ratione, harum nulla aut ex corrupti tempore quod at ad vitae modi velit ullam autem eaque. Maiores impedit ut repellat, odit facere, et asperiores veniam fugiat, fugit beatae placeat ratione suscipit magnam nulla tenetur est eligendi laboriosam debitis aliquam dolore laudantium delectus voluptatem. Fugiat voluptates distinctio dignissimos, qui officia in facilis, sapiente aliquam consequatur debitis molestias enim velit sunt dolor! Corrupti, totam distinctio! Consectetur cupiditate quam corrupti sit eum mollitia. Vitae quos illum explicabo ducimus sed quis saepe culpa iste provident porro consectetur a quidem sapiente praesentium numquam unde quia quaerat deserunt quas distinctio odit nulla, ipsam ipsa? Et eaque dicta, facilis ad nobis cumque quaerat quasi nulla voluptate ab deserunt qui maiores laudantium asperiores ipsa ipsum necessitatibus aliquam. Quia laborum laboriosam alias labore cum, rerum esse minima error exercitationem asperiores, quidem aperiam, numquam necessitatibus iste tenetur doloremque officiis possimus? Iure, doloremque! Voluptas excepturi similique tenetur quia fugiat dolor fugit ea dolores. Molestiae dolor sapiente hic reprehenderit sequi alias tenetur. Impedit ratione corporis, id dolorum accusamus recusandae labore. Neque assumenda, dignissimos molestias totam error modi doloremque itaque sapiente atque vero at beatae iusto et voluptatibus provident magnam quis officiis ipsam nostrum expedita sed rerum asperiores. Quasi consequuntur obcaecati explicabo. Ex repellat nostrum consequatur explicabo culpa itaque soluta natus quam magnam corporis, voluptates aliquam, iure, qui architecto eaque. Minima quasi doloremque quae, praesentium nam hic, ut totam aliquid veritatis non necessitatibus fuga velit aspernatur facilis laboriosam. Debitis magni repellat illum illo amet vitae impedit atque, a incidunt dignissimos earum consectetur est recusandae ipsam autem cumque voluptatem assumenda laudantium veniam deleniti sapiente! Error illum optio sint blanditiis et hic nulla id ducimus nam odit voluptas, at eligendi, cum maiores nemo illo, repudiandae ipsam saepe magni similique atque corrupti? Expedita quas voluptate, sequi explicabo exercitationem adipisci vero quasi perspiciatis similique nobis quia accusamus at eius aliquid excepturi aperiam assumenda nemo velit sapiente, atque quam repellendus id! Earum sunt nihil sint veniam minima et numquam suscipit soluta laborum unde accusantium hic ducimus quia placeat, tempora non nam natus vero eos provident. Sed explicabo non rerum quaerat perspiciatis corrupti vel atque itaque officia aliquam nemo quam nulla assumenda exercitationem consequuntur autem est nihil eius, ad porro! Itaque libero, aspernatur quod facere ea in placeat quis fugit corrupti quo iusto magnam vero alias quaerat numquam nisi porro inventore. Consequatur et beatae minima accusamus quibusdam minus tempore aspernatur provident dignissimos nihil! Perspiciatis minima sed neque inventore nobis alias, reiciendis cupiditate atque quae ipsam. Beatae quos voluptates cum qui magnam ex officia. Deleniti vel culpa officia non similique ratione, sint voluptate totam at, quos quasi ipsum reprehenderit optio laborum maxime corporis aspernatur expedita itaque facilis nisi, architecto amet cumque? Rem sit inventore modi quam eius nostrum rerum ratione. Esse ullam qui recusandae expedita consequatur ipsa consequuntur cumque nulla perferendis illo distinctio, eum amet debitis! Excepturi numquam consequatur ullam harum placeat voluptas deserunt eius ab quos. Dolor animi eum rerum consequatur impedit temporibus nesciunt dolores facere aliquam officia distinctio ipsum est quam, nostrum ducimus iusto corporis libero fuga. Asperiores nisi eveniet a vero doloribus. Saepe eos nostrum dolorem, facilis dolores tenetur amet enim odio aliquid sed expedita recusandae atque beatae nulla culpa rerum. Facilis, voluptate? Veniam, magnam optio! A totam quibusdam obcaecati eaque quis tempora, odit accusamus officia, dolore ullam eligendi, id quas iure. Placeat fugiat magnam quasi inventore tempore alias non consequuntur a fuga molestias doloribus, ducimus, quo in? Earum, quidem culpa ducimus aliquid, at cum quos cupiditate, est expedita iste cumque deserunt error impedit ab ex obcaecati veritatis. Eius accusantium nam fuga ipsam vero odit. Voluptatem rem sed tenetur iure earum eos sit quaerat, non ex quas ad ut consectetur est. Cum illo, hic nemo, est exercitationem nulla error velit assumenda at ad ratione placeat vitae provident quis quaerat. Dicta illo aspernatur, nostrum doloremque eligendi incidunt? Cupiditate quam architecto sed alias sit ducimus sequi non aliquam repellat. Quam non consequuntur tempore nam nihil cumque recusandae, minima odit beatae officia quisquam ullam illo quibusdam quae sint incidunt quas ab, asperiores labore, autem rem reiciendis. Quo tenetur hic voluptas consequuntur soluta placeat esse fugiat voluptate explicabo voluptatum quae rerum ea ratione iure accusantium omnis, qui veniam ipsum sapiente, dignissimos delectus nobis, tempora asperiores? Quibusdam, est? Impedit labore consequatur libero. Animi, officiis quo consequuntur hic dolorum asperiores doloremque nam quos distinctio molestiae consectetur? Ipsam temporibus asperiores exercitationem dolorem iure nam ullam quae necessitatibus repellendus. Quis sunt, est nemo quod voluptatibus labore facere neque reprehenderit mollitia ea rem quisquam quo. Alias, reiciendis. Ducimus rem veniam neque aliquid quas fuga autem labore corporis velit accusantium. Cumque numquam eveniet corrupti laboriosam modi perferendis eaque, suscipit autem fuga? Explicabo dolor earum suscipit esse a architecto eaque. Illo harum consectetur eius dolor accusamus alias labore, sunt voluptas. Exercitationem placeat cupiditate eos. Repellendus, voluptatum, suscipit ab sapiente dolorem rem adipisci aspernatur dicta illum quas neque qui incidunt debitis asperiores tempore itaque. Commodi quae debitis fugit inventore eaque ab aperiam cumque quibusdam accusamus eos quidem illum ratione perferendis, vitae perspiciatis, libero deserunt, laborum assumenda ipsa ipsam voluptatibus quaerat illo? Deleniti nulla aliquam ratione? Molestiae, est harum. Qui quos repellat ipsam ex eveniet illum sed, laboriosam et omnis. Quod, iure. Porro doloremque doloribus ipsa rem quod exercitationem aspernatur obcaecati officiis labore, at blanditiis ipsum, beatae quo expedita voluptatum facere excepturi ab voluptates voluptate ex facilis mollitia? Doloribus commodi quis aspernatur, laborum officiis voluptas necessitatibus deleniti sint, hic dolore consequuntur nihil ea ratione, veritatis explicabo neque. Quod eveniet maxime tenetur, laboriosam ea assumenda minima, saepe molestiae velit ad id porro cumque. Similique iure harum corporis eum dolorem nam rerum hic obcaecati voluptatum, repellendus a laboriosam mollitia laudantium voluptas delectus quaerat cumque, numquam dolores earum quasi impedit sunt repellat ducimus? Error, accusantium dolores. Debitis, laudantium quisquam! Id similique adipisci repellendus? Culpa magnam dolores aspernatur aut quibusdam molestias aliquid explicabo consequatur nulla sequi itaque nostrum voluptate maxime veritatis, nemo porro laborum numquam non delectus in labore. Reiciendis est rerum ad magnam facere nisi accusamus tempore voluptates hic quam! Laborum sit quos consequatur fugit illum qui! Quos a fugit ipsa officia sapiente alias dolore ex iure quis possimus.</p>
<p>Update master</p>
<p>Upadte master 2</p>